.sidebarchat{
    display: flex;
    padding: 20px;
    cursor:pointer;
    border: 1px solid #f6f6f6;
}
.sidebarchat:hover
{
    background-color: #ebebeb;
}

.avatar
{
    margin-top: 10px;
    margin-left: -4px;
    align-items: center;
    size:1px;
}

.sidebarChat_info>h2
{
    font-size: 16px;
    margin-top: 8px;  
}
.sidebarChat_info>p
{
    margin-top: -14px;
}

.sidebarChat_info
{
    margin-left: 15px;
}

a{
    text-decoration: none;
    color: black;
}